@charset "utf-8"; 
font{
    
    font-family: 'Noto Sans KR', sans-serif;
    color: #ffffff;
    font-size: 20px;
}
.title{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    color: #ffd9d9;
    font-size: 60px;
}
#text{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    color: #ffffff;
    font-size: 20px;
}
li {
    list-style-type: none;
}
ul {
    padding: 0px;
}
body{
    background-image: url('background.png');
    background-color: black;
}